<div id="pokemap"></div>

<div id="menu" class="btn-group-vertical">
  <button type="button" class="btn btn-default refresh"><i class="glyphicon glyphicon-refresh"></i></button>
  <button type="button" class="btn btn-default contact"><i class="glyphicon glyphicon-comment"></i></button>
  <!--
    TODO: Make pokedex work
    <button type="button" class="btn btn-default hidden"><img src="/img/pokedex.png" alt="" /></button>
  -->
</div>

<div class="col-md-12 alert-message text-center"></div>
