<div id="pokemap"></div>

<div id="menu" class="btn-group-vertical">
  <button type="button" class="btn btn-default refresh"><i class="glyphicon glyphicon-refresh"></i></button>
  <button type="button" class="btn btn-default contact"><i class="glyphicon glyphicon-comment"></i></button>
  <!--
    TODO: Make pokedex work
    <button type="button" class="btn btn-default hidden"><img src="/img/pokedex.png" alt="" /></button>
  -->
</div>

<div class="alert-message col-md-12 text-center"></div>

<div class="col-md-6">
  <div class="modal" id="contact">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h5 class="modal-title">Enviame cualquier comentario, problema o duda que tengas:</h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-12">
              <textarea id="message" class="form-control" rows="5"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button id="send-form" type="button" class="btn btn-success">Enviar</button>
        </div>
      </div>
    </div>
  </div>
</div>
