<!DOCTYPE html>
<html>
  <head>
    <title>PokeMap</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="red">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/bootflat.min.css">
    <link rel="stylesheet" href="/styles/custom.css">
    <!--STYLES END-->
    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />
    <script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
  </head>

  <body>
    <%- body %>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-2.1.0.min.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/js/dependencies/underscore-min.js"></script>
    <script src="/js/dependencies/backbone.js"></script>
    <script src="/js/dependencies/icheck.min.js"></script>
    <script src="/js/dependencies/jquery.fs.selecter.min.js"></script>
    <script src="/js/dependencies/jquery.fs.stepper.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/collections/pokemon.js"></script>
    <script src="/js/models/pokemons.js"></script>
    <script src="/js/models/users.js"></script>
    <script src="/js/views/admin.js"></script>
    <script src="/js/views/contactModal.js"></script>
    <script src="/js/views/login.js"></script>
    <script src="/js/views/map.js"></script>
    <script src="/js/views/me.js"></script>
    <script src="/js/views/menu.js"></script>
    <script src="/js/views/pokemons.js"></script>
    <script src="/js/views/signup.js"></script>
    <script src="/js/views/user.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
