
<div class="row text-center">

  <div class="col-md-offset-4 col-md-4 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">

    <form class="login-form">

      <br><br>

      <img src="/img/pokemon-logo.png" class="img-responsive center" alt="" />

      <br>

      <input type="email" class="form-control" placeholder="Email">

      <br>

      <input type="password" class="form-control" placeholder="Contraseña">

      <br>

    </form>

    <button id="login" type="button" class="btn btn-success btn-block">Login</button>

    <br>

    <a href="/signup">Haz click aqui para unirte a la beta!</a>

    <br><br><br>

  </div>

  <div class="col-md-offset-2 col-md-8 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
    <span class="explanation h5">¿Que es pokemap?</span>

    <p class="explanation justify">Un mapa de Amorebieta donde se ve en todo momento donde y durante cuanto tiempo está un pokemon.</p>

    <img src="/img/pokemon-map.jpg" class="img-responsive center" ></img>

    <br>

    <span class="explanation h5">¿Tengo que meter mi usuario de Pokemon?</span>

    <p class="explanation justify">No, tu creas una cuenta aquí independiente de tu usuario. PokemonGo jamás sabrá que has usado esta app.</p>

    <br>

    <span class="explanation h5">¿Como funciona?</span>

    <p class="explanation justify">He creado un bot que camina por todo Amorebieta, todos los Pokemons que el bot se encuentra lo pinto en un mapa que los usuarios de pokemap podemos ver.</p>

    <br>

    <span class="explanation h5">No soy de Amorebieta, ¿puedo usarlo en otro pueblo?</span>

    <p class="explanation justify">No, por ahora quiero mantener las cosas pequeñas. Podría hacer una armada de bots, pero saltarian las alarmas de PokemonGo y me cortarían el grifo.</p>

    <br>

    <span class="explanation h5">¿Funcionará siempre?</span>

    <p class="explanation justify">Ni de palo, esto un <b>hack</b> puro y duro. Tarde o temprano PokemonGo matará a mi pobre bot.</p>

    <br>

    <span class="explanation h5">¿Puedo ver el código de Pokemap?</span>

    <p class="explanation justify">Por ahora el repositorio es privado, pero tarde o temprano lo haré público.</p>

    <br>

    <span class="explanation h5">¿Puedo registrame?</span>

    <p class="explanation justify">Claro! Haz click <a href="/signup">en este enlace</a> y aceptaré tu solicitud en cuanto pueda.</p>

    <br><br><br>
  </div>

  <span class="h5 created-by" target="_blank">Created by <a href="https://twitter.com/josebaseba">Josebaseba</a></span>

</div>
