
<div id="signup-view" class="row text-center">

  <br><br>

  <img src="/img/pokemon-logo.png" class="img-responsive center" alt="" />

  <br>

  <div class="form-container col-md-offset-4 col-md-4 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">

    <form class="signup-form">

      <p class="explanation">Rellena el formulario y te enviaremos un email cuando te activemos la cuenta.</p>

      <p class="error-msg explanation">Rellena con tu nombre y tu email</p>

      <input id="name" type="text" class="form-control" placeholder="Nombre*">

      <br>

      <input id="email" type="email" class="form-control" placeholder="Email*">

      <br>

      <textarea id="message" maxlength="200" class="form-control" placeholder="Escríbenos algo para darte prioridad en la lista de espera... (Opcional)"></textarea>

      <br>

    </form>

    <button id="signup" type="button" class="btn btn-success btn-block">Pedir acceso</button>

    <br>

    <a href="/">Ir al formulario de inicio de sesión</a>

    <br><br><br>

  </div>

  <div style="display:none;" class="success col-md-offset-2 col-md-8 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">

    <span class="explanation h3">Acceso solicitado!</span>

    <p class="explanation justify">En breve te daremos de alta en plataforma, te llegará un email avisandote.</p>

    <a href="/">OK!</a>

  </div>

  <span class="h5 created-by small" target="_blank">Created by <a href="https://twitter.com/josebaseba">Josebaseba</a></span>

</div>
