
<div class="row text-center">

  <div class="col-md-offset-4 col-md-4 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">

    <form class="signup-form">

      <br><br>

      <img src="/img/pokemon-logo.png" class="img-responsive center" alt="" />

      <br><br>

      <p class="explanation">Rellena el formulario y te enviaremos un email cuando estes listo para usar la app</p>

      <br>

      <input type="text" class="form-control" placeholder="Nombre">

      <br>

      <input type="email" class="form-control" placeholder="Email">

      <br>

      <input type="password" class="form-control" placeholder="Contraseña">

      <br>

    </form>

    <button id="login" type="button" class="btn btn-success btn-block">Pedir acceso</button>

    <br>

    <a href="/">Ir al formualrio de inicio de sesión</a>

  </div>

  <span class="h5 created-by" target="_blank">Created by <a href="https://twitter.com/josebaseba">Josebaseba</a></span>

</div>
