<p>

  Hola <%= name %>, Ya esta tu cuenta disponible para <a href="http://pokemap.josebaseba.com">Pokemap</a>!

  <br><br>

  Tus datos de inicio de sesión:

  <br><br>

  Email:

  <br><br>

  <b><%= email %></b>

  <br><br>

  Contraseña:

  <br><br>

  <b><%= password %></b>

  <br><br>

  Copia la contraseña y pégala <a href="http://pokemap.josebaseba.com">aquí</a>.

</p>
