body {
  background: #E6E9ED;
}

.img-responsive.center {
  margin: auto;
}

.created-by {
  font-weight: 300;
  position: fixed;
  bottom: 0px;
  right: -5px;
  background-color: #CCD1D9;
  padding: 5px 15px;
  border-radius: 2px;
}

.created-by.small {
  font-weight: 200;
  position: fixed;
  bottom: -10px;
  right: -5px;
  padding: 5px 15px;
  font-size: 12px;
}

.created-by a {
  font-weight: 400;
}

.created-by.small a {
  font-weight: 300;
}

.explanation {
  font-weight: 300;
}

.error-msg {
  color: #ED5565;
  visibility: hidden;
}

#pokemap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
